.custom-navbar {
    background-color: #4c2d78 !important;
}

.greeting {
    font-size: 1.2em;
    margin-right: 10px;
}

/* Estilos para el sidebar */
.collapse .custom-navbar {
    background-color: #4c2d78;
}

/* Estilos adicionales específicos para esta página */
