/* Estilos generales */
body { 
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header { 
    background-color: #4c2d78;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header h1 {
    color: #ffffff;
    font-size: 2.5em;
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Estilos para botones y tabla */
.table-striped th, .table-striped td {
    text-align: center;
}

/* Contenedor para agrupar y alinear la selección y los botones */
.aligned-actions {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    justify-content: space-between; /* Espaciado horizontal */
    gap: 15px; /* Espaciado entre elementos */
    flex-wrap: wrap; /* Asegura que los elementos se acomoden en pantallas pequeñas */
    margin-top: 20px;
}

/* Ajustes específicos para el campo de selección */
.aligned-actions select {
    flex: 1; /* Ocupa espacio proporcional al resto */
    max-width: 300px; /* Define un ancho máximo */
}

/* Ajustes para los botones */
.aligned-actions .btn {
    flex: 1; /* Ocupan espacio proporcional */
    max-width: 150px; /* Define un ancho máximo */
    text-align: center;
}

/* Estilo para la burbuja de saludo flotante */
.saludo-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #b299d7;
    color: white;
    padding: 15px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: opacity 0.3s ease;
    max-width: 200px;
    line-height: 1.2;
    word-wrap: break-word;
    z-index: 9999;
}

.saludo-bubble.show {
    opacity: 1;
}

#user-name-display {
    display: block;
    font-weight: normal;
    font-size: 12px;
    margin-top: 5px;
}

.fila-pedido.seleccionado {
    background-color: #d9edf7;
    cursor: pointer;
}

.fila-pedido {
    cursor: pointer;
}

/* Diseño responsivo */
@media (max-width: 768px) {
    .aligned-actions {
        flex-direction: column;
        gap: 10px;
    }

    .aligned-actions select, .aligned-actions .btn {
        max-width: 100%; /* Ocupan todo el ancho en pantallas pequeñas */
    }
}

.custom-navbar h1 {
    color: purple; /* Cambia el color del texto a morado */
}

.saludo-bubble {
    background-color: #e6e1f5; /* Fondo de la burbuja ajustado a un tono suave si deseas */
    color: purple; /* Cambia el color del texto dentro de la burbuja a morado */
}

